@import 'normalize';
@import 'foundation/functions';
@import 'foundation_and_overrides';
@import 'icons';
@import 'animations';

body > section {
  padding-top: 1em;
  padding-bottom: 1em;
}

.hero {
  background: url(devicelab-bg.jpg) no-repeat center top #56646C;
  background-size: cover;
  background-attachment: fixed;
}

#masthead, #intro {

  h1, h3, h4, h5, p {
    color: #fff;
  }

  p {
    font-size: rem-calc(18);
    font-weight: 300;
  }

  abbr {
    font-size: 100%;
    color: #fff;
    border-bottom: none;
  }

  .button {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600 !important;
  }
}

#masthead {
  header h4 {
    img {
      height: 40px;
    }
    &> span {
      text-transform: uppercase;
      font-weight: 100;
    }
  }

  h1 {
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(30);
    font-weight: 100;
  }
}

#masthead {
  header {
    @include clearfix;
  }
  #i18n {
    color: #fff;
    height: 60px;
    padding-top: 25px;
    a {
      color: #fff;
    }
  }
}

@media #{$small} {
  #masthead {
    header h4 img {
      height: 60px;
    }

    h1 {
      padding-top: rem-calc(80);
      padding-bottom: rem-calc(40);
    }
  }
}

#devices {
  table {
    width: 100%;
  }

  [class^="odl-"] {
    vertical-align: middle;
    font-size: rem-calc(32);
    color: #bbb;
    display: none;
  }
}

@media #{$small} {
  #devices table {
    [class^="odl-"] {
      display: inline;
    }
  }
}

body > footer {
  padding-bottom: 3em;
  p {
    text-align: center;
    margin-bottom: 0;
    img { height: 18px; }
  }
}
